{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Page</title>
    <link rel="stylesheet" href="{% static 'reset-password/reset.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@1,600&family=Space+Grotesk:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>
    <!-- {% if request.user.is_authenticated %}
    <script>
      window.location.href = '{% url "animation:animation" %}';
    </script>
    {% endif %} -->
    <main>
      <form method="post">
        {% csrf_token %}
        <img src="{% static 'reset-password/Shining cube.png' %}" alt="Shining cube image" class="cube" />
        <div class="container">
          <p class="reset">Reset Password</p>
          <p id="reset">Fill in to reset password</p>
          <div>
            <div class="form">
              <label for="psw-new"><b>New password</b></label>
              <br />
              {{ form.new_password1 }}
            </div>

            <div class="form">
              <label for="psw-confirm-new"><b>Confirm new password</b></label>
              <br />
              {{ form.new_password2 }}
            </div>
          </div>

          <div class="btns">
            <a href="{% url 'accounts:login' %}" class="btn2">Cancel</a>
            <button type="submit" class="btn1" value="Change">Reset</button>
          </div>
        </div>
        <img src="{% static 'reset-password/Ellipse.png' %}" alt="Ellipse image" class="ellipse" />
      </form>
    </main>
  </body>
</html>
